<ul class="business-details">
  <li class='detail'><span >Phone: </span><%= business['display_phone'] %></li>
  <li class='detail'><span >Address: </span><%= business['location']['display_address'].join(' ') %></li>
  <li class='detail'><span >Gender Neutral Restrooms? </span><%= Business.check_GNR(business) %></li>
</ul>
