<div class="doodad">
  <table class="doodad">
    <tr>
      <td> <%= Testimonial.count({verbose: false, yelp_id: business['id'], positive: true}) %> </td>
      <td> <%= Testimonial.count({verbose: false, yelp_id: business['id'], positive: false}) %></td>
    </tr>
  </table>
</div>
