

<ul class="testimonial-summary">

  <div class="testimonial-container praise">
    <li class="count"><%= Testimonial.count({verbose: true, yelp_id: @business["id"], positive: true}) %> </li>
    <% if Testimonial.count({verbose: false, yelp_id: @business["id"], positive: true}) == 0 %>
    <li>Be the first to leave a review</li>
    <% end %>
  </div>

  <div class="testimonial-container criticism">
    <li class="count"><%= Testimonial.count({verbose: true, yelp_id: @business["id"], positive: false}) %> </li>
    <% if Testimonial.count({verbose: false, yelp_id: @business["id"], positive: false}) == 0 %>
    <li>Be the first to leave a review</li>
    <% end %>
  </div>

</ul>
