<div class="testimonial">
  <p class="testimonial-header">
  <% if testimonial.anonymous %>
    Anonymous
  <% else %>
    <%= testimonial.user.username %>
  <% end %>
  </p>
  <!-- placeholder for tags -->
  <p>
    <% testimonial.tags.each do |tag| %>
      <span class="tag"> <%= tag.description %> </span> &nbsp;
    <% end %>
  </p>
  <p><%= testimonial.created_at.strftime("Posted %m/%d/%Y") %> </p>
  <p class="testimonial-text"> <%= testimonial.description %> </p>
</div>
