<div class="testimonial">
  <p class="testimonial-header">
  <% if testimonial.anonymous %>
    Anonymous
  <% else %>
    <%= testimonial.user.username %>
  <% end %>
  </p>
  <!-- placeholder for tags -->
  <p><span class="tag">Bad time</span> <span class="tag">Unfriendly folks</span></p>
  <p><%= testimonial.created_at.strftime("Posted %m/%d/%Y") %> </p>
  <p class="testimonial-text"> <%= testimonial.description %> </p>
  <%= render partial: "testimonials/vote", locals: {testimonial: testimonial} %>
</div>
