

<ul class="testimonial-summary">

  <div class="testimonial-container praise">
    <li class="count"><%= Business.count_praise(@business["id"]) %> </li>
    <% if Business.count_praise(@business["id"]) == "No praise for this business yet"%>
    <li>Be the first to leave a review</li>
    <% end %>
  </div>

  <div class="testimonial-container criticism">
    <li class="count"><%= Business.count_criticism(@business["id"]) %> </li>
    <% if Business.count_criticism(@business["id"]) == "No criticism for this business yet" %>
    <li>Be the first to leave a review</li>
    <% end %>
  </div>

</ul>
