<h1 class=business-name> <%= @business.name %> </h1>

<div class="business-overview">
  <div class="business-overview-left">
    <%= render partial: 'testimonial_summary', locals: {business: @business} %>
  </div>
  <div class="business-overview-right">
    <div class="business-photo">
      <%= image_tag "placehold.gif" %>
    </div>
    <%= render partial: 'details', locals: {business: @business} %>
  </div>

  <div class="testimonial-list">
    Testimonial list goes here
  </div>
</div>
