<% @title="FeelFree - About" %>


<div class="about-container">
  <h1>We're happy to see you - yes you!</h1>
  <p>Welcome to FeelFree, a place where we believe everyone should feel comfortable to be their authentic selves free of care and judgement. We offer a platform for our users to search for businesses and leave tesimonials based on their experiences. We noticed there were several ratings sites available but none that exclusively rated the kindness and care of a business exclusively.</p>
  <p>Have you ever been out and about and felt uncomfortable simply for being yourself? Has a business ever made you feel welcome to be exactly you without any reservations? We want to hear all about it! We welcome you to preuse the site, read and write testimonials and let others know when their voices are heard! Remember, when you're here you're joining a movement to make the world a kinder place.</p>
</div>
