/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 :root {
   --border-color: #89BBC1;
   --text: #0D1B2A;
   --navblue: #4F6D8E;
   --offwhite: #FCFCFC;
   --negative: #D999B9;
   --positive: #DCDBA8;
   --light-text: #89BBC1;
   --link: #89BBC1;
   --darkblue: #0F1926;
   --errors: #800000;
   --testdarkblue: #091d36;
   --testmidblue: #3a4e7a;
   --testlightblue: #c2d2e9;
   --testwhite: #f1f1f0;
   --rgbwhite: rgb(255, 255, 255, 0.2);
 }

 .errors {
   color: var(--errors);
   font-size: 0.8rem;
 }

html {
  width: 100%;
  font-family: 'Frank Ruhl Libre', serif;
  height: 100%;
}

body {
  /*background-color: var(--testdarkblue);*/
  background: linear-gradient(to bottom right, #0b212f, #44586a, #a2b4c3); /* Standard syntax */
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 60%;
  margin: 0 auto;
  color: var(--text);
  border-radius: 10px;
}

a {
  color: var(--testwhite);
  text-decoration: none;
}
a:hover {
  color: var(--positive);
}



/********************************************/
/**********Login Logout Styles***************/
/********************************************/

.reg-container {
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  font-size: 1em;
}

.reg-container h2 {
  text-align: center;
}

.reg-container a {
  text-decoration: none;
  display: inline-block;
}

.reg-container .input,
.reg-container label {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.reg-container label {
  transform: translate(8px, 30px);
  color: grey;
}

.reg-container .input {
  font-size: 1em;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.reg-container .no-shift {
  margin-bottom: 20px;
}

.reg-container .no-shift label {
  transform: translate(0,0);
  display: inline-block;
  margin-top: 5px;
  width: 70%;
}

.reg-container input[type=checkbox] {
  display: inline-block;
  width: 20px;
  float: left;
  padding: 0;
  margin: 10px 10px 10px 0px;
}

.labelshift {
  animation: labelshift .5s forwards;
}

.check-bold {
  font-weight: bold;
}


@keyframes labelshift {
  to {
    transform: translate(0,0);
    color: var(--darkblue);
    font-weight: bold;
  }
}

table.doodad{
  border-radius: 10px;
  border-collapse: collapse;
  display: inline-table;
  width: 200px;
  text-align: center;
  font-weight: normal;
}

table.doodad th{
  color: var(--testwhite);
}

td.doodad-positive{
  background-color: var(--testwhite);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px 5px 2px 7px;



}
td.doodad-negative{
  padding: 2px 7px 2px 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--darkblue);
  color: var(--testwhite);

}

td.doodad-no-data{
  padding: 2px 7px 2px 5px;
  background-color: var(--testlightblue);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.alert {
  border: 2px solid #800000;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  background-color: #ffcccc;
  color: #800000;
  text-align: center;
}

.notice {
  border: 2px solid #004d00;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  background-color: #ccffcc;
  color: #004d00;
  text-align: center;
}

.mission {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--offwhite);
  margin: 0 auto;
  margin-top: 7rem;
  padding: 1rem;
}

.mission p {
  line-height: 150%
}
