/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 :root {
   --border-color: #89BBC1;
   --text: #0D1B2A;
   --navblue: #4F6D8E;
   --offwhite: #FCFCFC;
   --negative: #D999B9;
   --positive: #DCDBA8;
   --light-text: #89BBC1;
   --link: #89BBC1;
   --darkblue: #0F1926;
   --errors: #800000;
   --testdarkblue: #091d36;
   --testmidblue: #3a4e7a;
   --testlightblue: #c2d2e9;
   --testwhite: #f1f1f0;
   --rgbwhite: rgb(255, 255, 255, 0.2);
   --rust: #912C00;
   --purple: #8088B2;
   --darkerpurple: #3F568B;
   --darkestpurple: #182449;
 }

 .errors {
   color: var(--errors);
   font-size: 0.8rem;
 }

html {
  width: 100%;
  /*font-family: 'Frank Ruhl Libre', serif;*/
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #0b212f, #44586a, #a2b4c3); /* Standard syntax */
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 60%;
  margin: 0 auto;
  color: var(--text);
  border-radius: 10px;
}

a {
  color: var(--testwhite);
  text-decoration: none;
}
a:hover {
  color: var(--darkestpurple);
}

.logo-nav {
  position: absolute;
  width: 100px;
  top: 5vh;
  left: 15%;
}


/********************************************/
/**********Login Logout Styles***************/
/********************************************/

.reg-container {
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  font-size: 1em;
}

.reg-container h2 {
  text-align: center;
}

.reg-container a {
  text-decoration: none;
  display: inline-block;
}

.reg-container .input,
.reg-container label {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.reg-container label {
  transform: translate(8px, 30px);
  color: grey;
}

.reg-container .input {
  font-size: 1em;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.reg-container .no-shift {
  margin-bottom: 20px;
}

.reg-container .no-shift label {
  transform: translate(0,0);
  display: inline-block;
  margin-top: 5px;
  width: 70%;
}

.reg-container input[type=checkbox] {
  display: inline-block;
  width: 20px;
  float: left;
  padding: 0;
  margin: 10px 10px 10px 0px;
}

.labelshift {
  animation: labelshift .5s forwards;
}

.check-bold {
  font-weight: bold;
}


@keyframes labelshift {
  to {
    transform: translate(0,0);
    color: var(--darkblue);
    font-weight: bold;
  }
}

table.doodad{
  border-radius: 10px;
  border-collapse: collapse;
  display: inline-table;
  width: 200px;
  text-align: center;
  font-weight: normal;
}

table.doodad th{
  color: var(--testwhite);
  font-family: 'Noto Serif', serif;
  font-size: 0.7rem;
}

td.doodad-positive{
  background-color: var(--testwhite);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px 5px 2px 7px;



}
td.doodad-negative{
  padding: 2px 7px 2px 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--darkblue);
  color: var(--testwhite);

}

td.doodad-no-data{
  padding: 2px 7px 2px 5px;
  background-color: var(--testlightblue);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.alert {
  border: 2px solid #800000;
  border-radius: 5px;
  height: 2rem;
  width: 25%;
  margin: 0 auto;
  background-color: #ffcccc;
  color: #800000;
  text-align: center;
}

.notice {
  border: 2px solid #004d00;
  border-radius: 5px;
  height: 2rem;
  width: 25%;
  margin: 0 auto;
  background-color: #ccffcc;
  color: #004d00;
  text-align: center;
}

@media only screen and (max-width: 700px) {

/*Global Styles*/

    header {
      height: 150px;
    }

    .business-name {
      padding-left: 5%;
    }

    .container {
      width: 100%;
    }
    /*Nav Bar Styles*/


    .logo-nav {
      width: 60px;
      left: 10%;
    }

    #nav-bar ul {
      right: 5%;
    }

    /*Search Bar Styles*/

    .search-area {
      padding: 4rem;
      margin-top: 1rem;
    }

    .search-bar {
      display: block;
    }

    .search-icon {
      display: none;
    }

    .business-container {
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 15px 5px;
    }

    .city-container {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 15px 5px;
      margin: 15px 0 10px;
    }

    .business-container .input,
    .city-container .input {
      width: 100%;
    }

    .search-button {
      padding: 15px 5px;
      width: 100%;
    }

    /*business index styles */


    .business-photo img {
      display: none;
    }

    .business-list {
      padding-left: 0;
    }

    /* business index - doodad styles */
    div.doodad {
      /*min-width: 30%;*/
      width: 50%;
      /*margin-right: 5%;*/
    }

    div.content {
      /*min-width: 40%;*/
      width: 50%;
    }

    table.doodad{
      width: 60%;
    }

    .no-testimonials {
      font-size: .7em;
    }

    .index-details {
      padding: 2%;
      max-width: 80%;
    }


  /*Show page Styles */

    .business-name {
      margin: 0;
      font-size: 2.3rem;
    }

    .upper-section {
      display: block;
    }

    .business-overview-right {
      display: block;
      margin-top: 15px;
      width: 100%;
    }

    .business-overview-left {
      width: 100%;
      margin: 0;
    }

    .charts {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .google-chart {
      width: 80%;
      display: block;
      margin: 1rem auto;
      padding: 10px;
    }

    .content {
      /*border: 2px solid pink;*/

    }

    div.doodad {
      margin: 1rem auto 0;
      /*border: 1px dashed green;*/
    }

    table.doodad {
      padding: 0 5px;
      margin: 0 auto;
    }

    .loading-container {
      margin-top: 40%;
      margin-left: auto;
      margin-right: auto;
    }


    .testimonial-form {
      max-width: 100%;
    }

    .submit-button input {
        width: 80%;
        padding: 15px 10px;
        font-size: 1.2em;
    }

    .tags-list {
      padding: 0;
    }

    li.tag {
      margin: 5px 10px;
      width: 125px;
      padding: 10px 5px;
      background-color: white;
    }

    li.tag input {
      font-size: .8em;
    }

  }


  /*  End small screen size */
  @media only screen and (max-width: 1400px)
                     and (min-width: 700px) {

    header {
      height: 200px;
    }

    .container {
      width: 80%;
    }

    .business-name {
      margin: 0;
      font-size: 2.3rem;
    }

    .business-overview-right {
      margin-top: 15px;
      width: 50%;
      max-width: 450px;
      max-height: 450px;
    }

    .charts {
      margin-right: 5px;
      width: 300px;
    }

    .testimonial-form {
      /*max-width: 80%;*/
      margin-bottom: 100px;
    }

    .submit-button input {
        width: 30%;
        padding: 15px 10px;
        font-size: 1.2em;
    }

    .tags-list {
      text-align: center;
    }

    li.tag {
      margin: 5px 5px;
      padding: 5px 5px;
      background-color: white;
    }

    li.tag input {
      font-size: .8em;
    }

  }
