// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Business index


// SEARCH BAR STUFF ------

.business-list-div {
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

// .search-bar {
//   padding: 15px;
// }

// .business-container {
//   // display: inline-block;
//   // position: relative;
//   padding: 5px;
//   // width: 55%;
// }

// .business-label {
//   display: inline-block;
//   position: relative;
//   width: 100%;
// }

// .city-container {
//   // display: inline-block;
//   // position: relative;
//   padding: 5px;
//   width: 20%;
// }

.search-button {
  margin: 5px;
  width: 15%;
}

.search-area {
  padding: 4rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.search-button {
  border: none;
  background-color: var(--testdarkblue);
  color: var(--offwhite);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0rem;
}

.search-button:hover {
  background-color: #3a4a5e;
  color: var(--testwhite)
}

input.city-field {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--testdarkblue);
  color: white;
}

input.business-field {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--testdarkblue);
}

input.business-field::placeholder {
  color: white;
  font-size: 1.2rem;
  opacity: 1.0;
}

.business-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  .input {
    width: 85%;
  }
}

.city-container {
  width: 30%;
  margin-right: 0.3rem;
}

.search-container label {
  display: block;
  transform: translate(8px, 20px);
  color: var(--testdarkblue);
  margin-bottom: 0.2rem;
}

.search-icon {
  width: 25px;
  height: 25px;
  color: var(--testdarkblue);
  margin-right: 0.5rem;
}
// .labelshiftsearch {
//   animation: labelshiftsearch .5s forwards;
// }
// //
// @keyframes labelshiftsearch {
//   to {
//     transform: translate(0,0);
//     color: white;
//   }
// }

// BUSINESS LIST STUFF -----

.business {
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.content {
  display: flex;
}

.business-header {
  text-align: center;
}

p.name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.phone {
  font-style: italic;
  margin-right: 0.5rem;
}

p.list-item {
  margin-bottom: 0.3rem;
  margin-top: 0.1rem;
}

.detail {
  font-size: 80%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.business-name {
  margin: 0;
  font-size: 300%;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
}

.business-overview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: solid var(--border-color) 2px;
}

.business-photo {
  margin: 1rem;
}

.business-photo img {
  margin: auto;
  display: block;
}

div.doodad {
  margin-top: 1rem;
  margin-right: 1rem;
}

.business-details {
  padding: 10px;
}

.business-overview-left{
  padding: 10px;
}

.business-overview-right{
  padding: 10px;
}

.testimonial-summary {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 95%;
  height: 45%;
}

.count {
  line-height: 150%;
}

.testimonial-container {
  height: 50%;
  border-radius: 15px;
}

.praise {
  border: 2px solid var(--positive);
  margin-bottom: 5px;
}
.criticism {
  // background-color: var(--negative);
  border: 2px solid var(--negative);
}

.show-image {
  height: 250px;
  width: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-frame {
  margin-top: 10px;
  width: 250px;
  height: 150px;
}
