// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Business index

.business-list-div {
  margin: 0 auto;
  padding: 10px;
}

.business {
  border-bottom: 1px solid var(--darkblue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.content {
  display: flex;
}

.business-header {
  text-align: center;
}

p.name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.phone {
  font-style: italic;
  margin-right: 0.5rem;
}

p.list-item {
  margin-bottom: 0.3rem;
  margin-top: 0.1rem;
}

.detail {
  font-size: 80%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.business-name {
  margin: 0;
  font-size: 300%;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
}

.business-overview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: solid var(--border-color) 2px;
}

.business-photo {
  margin: 1rem;
}

.business-photo img {
  margin: auto;
  display: block;
}

div.doodad {
  margin-top: 1rem;
  margin-right: 1rem;
}

.business-details {
  padding: 10px;
}

.business-overview-left{
  padding: 10px;
}

.business-overview-right{
  padding: 10px;
}

.testimonial-summary {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 95%;
  height: 45%;
}

.count {
  line-height: 150%;
}

.testimonial-container {
  height: 50%;
  border-radius: 15px;
}

.praise {
  border: 2px solid var(--positive);
  margin-bottom: 5px;
}
.criticism {
  // background-color: var(--negative);
  border: 2px solid var(--negative);
}
