#nav-bar {
  position: relative !important;
  display: block;
  height: 100px;
  margin-bottom: 25px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  ul {
    position: absolute;
    list-style: none;
    right: 10%;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.image-height {
  height: 25px;
}

.nav-item {
  width: 100px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  position: relative;
  a {
    text-decoration: none;
    color: var(--offwhite);
    font-family: 'Source Sans Pro', serif;
    font-size: 1.5rem;
  }
}

.nav-item :hover {
  width: 100px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  transition: .15s;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}
