.testimonial {

  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
  padding: 0.7rem;
  padding-left: 0.9rem;
}


.testimonial-list .testimonial {
  border-bottom: 2px solid var(--border-color);
}
.testimonial-list .testimonial:last-of-type {
  border-bottom: none;
}

.testimonial .tag {
  border: 2px solid var(--darkestpurple);
  border-radius: 5px;
  color: var(--darkestpurple);
  font-size: 12px;
  padding: 3px;
  display: inline-block;
}

.testimonial .date-and-time {
  display: inline;
  padding-right: 15px;
  font-size: 14px;
}

.testimonial .inline {
  display: inline;
  padding-right: 15px;
  font-size: 14px;
}

.testimonial .safe {
  padding-right: 15px;
  font-size: 14px;
  display: inline;
  float: right;
}

.testimonial-text {
  display: inline-block;
  font-size: 0.9rem;
  text-align: justify;
  margin-bottom: 1.1rem;
  margin-left: 0.3rem;
}


.footer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-felt {
  margin-top: 0.3rem;
  font-weight: bold;
}

.testimonial .username{
  font-weight: bold;
}

.vote-container {
  margin-left: 5px;
  height: 100%;
  display: inline-block;
  align-self: flex-end;
}

.vote-count {
  border: 2px solid var(--darkerpurple);
  font-family: 'Noto Serif', serif;
  border-radius: 5px;
  padding: 0.16rem 0.25rem 0.18rem 0.25rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--darkerpurple);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  color: var(--testlightblue);
}

.testimonial-list {
  margin-bottom: 6rem;
}

.no-testimonials {
  text-align: center;
  color: var(--testlightblue);
  font-weight: bold;
  letter-spacing: .5px;
}

.no-chart-testimonials {
  text-align: center;
  color: var(--testlightblue);
  font-weight: bold;
  letter-spacing: .5px;
}

.tagged-with {
  font-size: 0.9rem;
}

// ====== TESTIMONIAL FORM THINGS ======

.testimonial-form {
  padding: 10px;
  color: white;
  // max-width: 450px;
  // min-width: 350px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--testdarkblue);
  border-radius: 4px;
  .errors {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .tags-errors {
    color: var(--errors);
    font-size: 0.8rem;
  }
  p {
    text-align: center;
  }
}

.testimonial-field {
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 0.9rem;
}

.testimonial-form-header {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.new_testimonial {
  display: flex;
  flex-direction: column;
}

.testimonial-box {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
}

.safe-unsafe-selection {
  display: flex;
  flex-direction: row;
  label {
    margin-right: 0.4rem;
  }
}

.experience-selections {
  display: flex;
  flex-direction: row;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  input {
    border: none;
    background-color: var(--darkerpurple);
    color: white;
    width: 30%;
    padding: 15px 10px;
    font-size: 1.2rem;
    border-radius: 3px;
    margin-top: 0.3rem;
  }
}

.label-tag {
  border: 1px solid var(--darkblue);
  border-radius: 5px;
  color: var(--darkblue);
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: white;
  padding: 0 5px 0 5px;
  text-align: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.clicked {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: var(--darkblue);
}



.experience-tag {
  p {
    text-align: left;
  }
  input {
    border-radius: 5px;
    background: transparent;
    border: none;
    display: inline-block;
    font-size: 13px;
    padding-right: 7px;
  }
}
