.testimonial {
  padding: 10px;
}

.testimonial-list .testimonial {
  border-bottom: 2px solid var(--border-color);
}
.testimonial-list .testimonial:last-of-type {
  border-bottom: none;
}

.testimonial-header {
  font-weight: bold;
}

.testimonial .tag {
  color: var(--border-color);
  background-color: var(--text);
  border: 2px solid var(--text);
  border-radius: 5px;
}

.testimonial-form {
  padding: 10px;
  border-bottom: 2px solid var(--border-color);

}
