.vote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  float: right;
}

.form-button {
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  margin-right: 0.5rem;
  background-color: var(--light-text)
}

.form-button:hover {
  background-color: var(--negative)
}
